.forumpost.unread .row.header, .path-course-view .unread, span.unread {
  background-color: #e6a100;
  border-radius: 10px;
  padding: 1px 4px;
  display: inline-block;
  margin-left: 4px;
}
a {
  display: inline !important;
}
.unread > a {
  color: white;
  font-weight: bold;
  /*! text-shadow: 0px 1px 1px #00000080; */
}
.container-fluid {
    background: #ccc;
}

.btn.btn-link.p-0 {
    display: flex !important;
    margin: auto;
}

/*Navbar*/
.nav-item {
    display: flex;
}
@media (max-width: 1580px) {

  .navbar-nav > li > a {
    display: inline-block !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 85px;
  }

  .navbar-nav > li:nth-of-type(1) > a {
    visibility: hidden;
    overflow: hidden;
  }

  .navbar-nav > li:nth-of-type(1) > a:before {
    content: "ИНОТЭКУ";
    visibility: visible;
  }

  .navbar-nav > li:nth-of-type(2) > a {
    visibility: hidden;
  }

  .navbar-nav > li:nth-of-type(2) > a:before {
    content: "ГУК 103к";
    visibility: visible;
  }

  .navbar-nav > li:nth-of-type(3) > a {
    visibility: hidden;
    max-width: 115px;
  }

  .navbar-nav > li:nth-of-type(3) > a:before {
    content: "omip@klgtu.ru";
    visibility: visible;
  }

  .navbar-nav > li:nth-of-type(4) > a {
    max-width: 115px;
  }
}
@media (max-width: 1000px) {
  .usertext {
    display: none;
  }
}
@media (max-width: 875px) {
   .dropdown-toggle::after {
    display: none;
  }
}
@media (max-width: 850px) {
  ul.navbar-nav:nth-of-type(1) > li:last-of-type {
    width: 50px;
  }
  ul.navbar-nav:nth-of-type(1) > li:nth-of-type(2) {
    width: 80px;
  }
  ul.navbar-nav:nth-of-type(2) > li:nth-of-type(1) {
    display: none;
  }
  #nav-notification-popover-container {
    display: contents;
  }
}
@media (max-width: 750px) {
  #nav-notification-popover-container {
    display: block;
  }
}
