/* Spoiler title */
.dark-theme .forum-spoiler tr > th > div {
  color: #fff;
}
/* Code-block title */
.dark-theme .forum-code > thead > tr > th {
  color: #fff !important;;
}

/* Quote in comment */
.entry-quote td {
    display: block !important;
}

.dark-theme .forum-quote * {
    color: white !important;
}
