/*Разворачивающийся плейлист был скрыт под страницей*/
.coverrow {
    padding-bottom: 250px;
}

/*** Breeze dark audioplayer fixes ***/
/*В тёмном режиме не видно полос прогресс-бара*/
.theme--dark.theme--breezedark #progressBar, .volume-slider::-moz-range-track {
  background: #cccccc3d !important;
}

.theme--dark.theme--breezedark .volume-slider::-moz-range-progress {
  background-color: #0082c9;
  padding: 2px;
  border-radius: 5px;
}

/*Выбор типа сортировки*/
.theme--dark.theme--breezedark #category_selector {
    background-image: none !important;
    margin: 7px 0 !important;
}
