/* Replace load image start */
.la-b > div {
  opacity: 0;
}
.la-b:before {
  content: " ";
  background: url('https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_dark_1x_r2.png');
  width: 100%;
  height: 100%;
  display: block;
  background-size: inherit;
  background-repeat: no-repeat;
  background-position: center;
}
.la-k {
  opacity: 0;
}
/* Replace load image end */


.la-k .la-m {
    background: transparent !important;
}
.a4t, #loading {
    opacity: 1;
    background: rgb(34, 34, 34) url('https://source.unsplash.com/featured/?nature') !important;
    background-size: cover !important;
    background-position: center !important;
}

.a4t {
    animation: 3s blur both;
}

@keyframes blur {
    90% {
       filter: blur(0px);
    }
    100% {
        filter: blur(3px);
    }
}

.msg {
    color: white !important;
    filter: brightness(10);
    text-shadow: 0 1px 2px rgba(0,0,0,.65);
}

#loading {
    filter: brightness(2%);
    animation: 3s startLoader both;
}

@keyframes startLoader {
    0% {
        filter: brightness(2%);
    }
    100% {
        filter: brightness(100%);
    }
}
